<html ng-app="pongApp">
<head>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- App Script -->
    <script src="app.js"></script>
    <!-- App Style -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div ng-controller="mainController as main" ng-cloak>
        <div class="container">
            <div class="row">
                <h1>Ping Pong Tracker</h1>
            </div>
            <div class="row">
                <!-- Leaderboard -->
                <div class="col-md-4">
                    <div class="container">
                        <div class="row" ng-repeat="player in main.players | orderBy:'-score'">
                            <div class="col-md-3 player" ng-class="{selected: main.selectedPlayer1.name == player.name}" ng-click="main.playerClickFunctions[main.detailMode](player.name)">
                                <h3>{{player.name}}</h3>
                                Score: {{player.score}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Details -->
                <div class="col-md-8">
                    <div class="container">
                        <!-- Selection Tabs -->
                        <div class="row">
                            <div class="col-md-2 option" ng-class="{selected: main.detailMode == 'Stats'}" ng-click="main.updateDetailMode('Stats')">
                                <h3 class="optionTitle">Stats</h3>
                            </div>
                            <div class="col-md-2 option" ng-class="{selected: main.detailMode == 'Games'}" ng-click="main.updateDetailMode('Games')">
                                <h3 class="optionTitle">Games</h3>
                            </div>
                            <!-- <div class="col-md-2 option">
                                <h3 class="optionTitle">History</h3>
                            </div> -->
                        </div>
                        <!-- Details Area -->
                        <div class="row">
                            <!-- Stats -->
                            <div class="col-md-8" ng-show="main.detailMode == 'Stats'">
                                <div class="container" ng-hide="main.selectedPlayer1.name == undefined">
                                    <div>
                                        <h2>{{main.selectedPlayer1.name}}</h2>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4>Score:</h4>
                                        </div>
                                        <div class="col-md-1">
                                            <h4>{{main.selectedPlayer1.score}}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4>Wins:</h4>
                                        </div>
                                        <div class="col-md-1">
                                            <h4>{{main.selectedPlayer1.wins}}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4>Losses:</h4>
                                        </div>
                                        <div class="col-md-1">
                                            <h4>{{main.selectedPlayer1.losses}}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4>Total Games:</h4>
                                        </div>
                                        <div class="col-md-1">
                                            <h4>{{main.selectedPlayer1.wins + main.selectedPlayer1.losses}}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4>Win Rate:</h4>
                                        </div>
                                        <div class="col-md-1">
                                            <h4>{{(main.selectedPlayer1.wins / (main.selectedPlayer1.wins + main.selectedPlayer1.losses)) *100 | number:1}}%</h4>
                                        </div>
                                    </div>
                                </div>
                                <span ng-show="main.selectedPlayer1.name == undefined">Select a Player</span>
                            </div>
                            <!-- Games -->
                            <div class="col-md-8" ng-show="main.detailMode == 'Games'">
                                <div class="container" ng-hide="main.selectedPlayer1.name == undefined">
                                    <div>
                                        <h2>{{main.selectedPlayer1.name}}</h2>
                                    </div>                                    
                                    <div class="row" ng-repeat="game in main.selectedPlayer1.games">
                                        <!-- {{game}} -->
                                        <div class="col-md-2 game"><h4>{{game.date}}</h4></div>
                                        <div class="col-md-1 game"><h4>{{game.opponent}}</h4></div>
                                        <div class="col-md-1"><h4>{{game.pointChange}}<img ng-src="{{main.showArrow(game.pointChange)}}"></h4></div>
                                    </div>
                                </div>
                                <span ng-show="main.selectedPlayer1.name == undefined">Select a Player</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:50px;">
                <!-- Space filler so that footer doesn't cover bottom data -->
            </div>
        </div>
        <div class="footer" ng-class="{error: main.postingError != ''}">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <span>Winner:</span> 
                        <select ng-model="main.winner">
                            <option ng-repeat="player in main.players" ng-value="player.name"ng-show="player.name != main.loser">{{player.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <span>Loser:</span> 
                        <select ng-model="main.loser">
                            <option ng-repeat="player in main.players" ng-value="player.name" ng-show="player.name != main.winner">{{player.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="main.postGame()">Post Game</button>
                    </div>
                    <div class="col-md-4" ng-hide="main.postingError == ''">
                        <span>{{main.postingError}}</span>
                    </div>
                    <div class="col-md-4">
                        <span>Table is:</span>
                        <span id="tableStatus" ng-class="{free: main.tableStatus=='FREE', used: main.tableStatus=='IN USE'}">{{main.tableStatus}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>